<div class="flex mt-8 mx-auto w-3/4">
  <div class="w-3/4">
    

    <form class="form login-form border p-4 rounded-lg shadow-lg bg-gray-800 text-white">
      <h2 class="text-2xl">Login</h2>
      <div class="form-group">
        <label for="email-login">Username:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <div class="form-group mt-5 text-center">
         <button type="submit" class=" w-1/5 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mt-2 ">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 ml-5 border p-4 rounded-lg bg-gray-800 text-white">
    <h2 class="text-2xl">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
     
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

    

      <div class="form-group mt-5 text-center">
         <button type="submit" class=" w-1/5 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mt-2 ">Sign up</button>
      </div>
    </form>
  </div>
</div>

<div class="bg-secondary opacity-25" style="position: absolute; top: 71; left: 0; right: 0; bottom: 0; z-index: -1;">{{!
  background color }}</div>
<script src="/js/login.js"></script>